<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ekylibre.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
        <activity
            android:name=".InterventionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".InfoActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".LiveActivity" />

        <!-- SERVICES -->

        <service android:name=".services.SyncService" />
        <service
            android:name=".services.LocationService"
            android:enabled="true" />
        <service
            android:name=".services.OneShotLocationIntentService"
            android:exported="false" />

    </application>

</manifest>